---
import Header from "../components/Header.astro";
import SectionHeader from "../components/SectionHeader.astro";
import ToolCard from "../components/ToolCard.astro";
import projects from "../data/projects.json";
import openSource from "../data/openSource.json";

import Layout from "../layouts/Layout.astro";

interface Project {
  name: string;
  description: string;
  url: string | null;
  github_url: string | null;
  image: string;
  status: string | null;
  code: string | null;
  alt: string | null;
}
---

<Layout title="Barigbue" hideFooter={false}>
  <main>
    <Header />

    <h1 class="text-3xl lg:text-3xl font-bold font-souvenir mb-4 mt-6">
      Hi, I'm Barigbue &#128075;
    </h1>

    <p id="about">
      A <span class="highlight">versatile</span> software engineer with a deep-seated
      passion for building, maintaining, and automating things that run on computers.
      My expertise spans both <span class="highlight">development</span> and <span
        class="highlight">operations</span
      >, allowing me to seamlessly navigate the entire software lifecycle, from
      conception to deployment, and beyond. <br />
      <br />I relish the challenge of delving into new tools, languages, and
      technologies to continuously enhance my skillset and expand my knowledge
      base. This commitment to lifelong learning has empowered me to develop an
      understanding of software development methodologies, system
      architecture/design, design patterns, and networking. My <span
        class="highlight">DevOps</span
      > skills enable me to streamline the software development process.
      <br />
      <br /> When I am not building or automating stuff, you can find me reading,
      writing on my <span class="highlight"
        ><a href="https://pipscript.hashnode.dev/" target="_blank">blog</a
        ></span
      >, gaming, looking for the perfect angle to capture the moment, hanging
      out with friends, or outside touching grass. I am driven by a genuine
      curiosity to learn and be better at what I do.
    </p>

    <section id="tools">
      <SectionHeader>Tools</SectionHeader>
      <p>
        Below are some of the languages/tools I have used or still use; there
        are a lot more but these are the ones I deemed necessary to list,
        including AWS and Bash.
      </p>

      <div
        class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-5 mt-5">
        <ToolCard name="Kubernetes" />
        <ToolCard name="Terraform" />
        <ToolCard name="Ansible" />
        <ToolCard name="Jenkins" />
        <ToolCard name="Docker" />
        <ToolCard name="Prometheus" />
        <ToolCard name="Go" />
        <ToolCard name="Node.js" />
        <ToolCard name="React" />
        <ToolCard name="TailwindCSS" />
        <ToolCard name="MySQL" />
        <ToolCard name="Sass" />
        <ToolCard name="Python" />
        <ToolCard name="JavaScript" />
        <ToolCard name="TypeScript" />
        <ToolCard name="Git" />
        <ToolCard name="Linux" />
      </div>

      <div class="border border-neutral-500 rounded-xl p-4 mt-5">
        <p>
          -&gt; Other things I intend to take a deeper dive into or get started
          with at some point in the future
        </p>
        <div
          class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-5 mt-5">
          <ToolCard name="Swift" />
          <ToolCard name="Redis" />
        </div>
      </div>
    </section>

    <section id="projects">
      <SectionHeader>Projects</SectionHeader>
      <p>
        During my free time, I like to build things that I find interesting;
        sometimes to learn more about something. Here are a couple of them. You
        can find others on my GitHub. I also contribute to open source projects.
      </p>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-8 mt-5">
        {
          (projects as Project[]).map((project) => (
            <div class="flex flex-col gap-1.5">
              <div class="relative w-full border border-neutral-900 aspect-[1.5] overflow-hidden rounded-lg cursor-pointer">
                <img
                  src={`/projects/${project.image}`}
                  class="w-full h-full hover:scale-125 object-cover object-center transition-all"
                  alt={project.alt !== null ? project.alt : " "}
                />
              </div>
              <h3 class="text-lg font-bold mt-1 leading-none">
                {project.name}
              </h3>
              <p class="text-sm">{project.description}</p>
              <div class="flex items-center justify-between mt-auto">
                {project.status && (
                  <div class="w-max bg-neutral-900 text-neutral-500 text-[10px] font-medium px-2.5 py-1 rounded drop-shadow-md">
                    {project.status}
                  </div>
                )}
                <a
                  href={project.url ? project.url : project.github_url}
                  target="_blank"
                  class="block hover:cursor-pointer w-max text-xs font-medium">
                  {project.code
                    ? project.code
                    : project.status === "In development"
                    ? " "
                    : "Visit website"}
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </section>
    <section id="projects">
      <SectionHeader>Open Source Contributions</SectionHeader>
      <p>
        In the spirirt of giving service, I decided to contribute to open source
        projects. Below are open source projects I have contributed to.
      </p>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-8 mt-5">
        {
          openSource.map((openSource) => (
            <div class="flex flex-col gap-1.5">
              <div class="relative w-full border border-neutral-900 aspect-[1.5] overflow-hidden rounded-lg cursor-pointer">
                <img
                  src={`/projects/${openSource.image}`}
                  class="w-full h-full hover:scale-125 object-cover object-center transition-all"
                  alt={openSource.alt !== null ? openSource.alt : " "}
                />
              </div>
              <h3 class="text-lg font-bold mt-1 leading-none">
                {openSource.name}
              </h3>
              <p class="text-sm">{openSource.description}</p>
              <div class="flex items-center justify-between mt-auto">
                {openSource.status && (
                  <div class="w-max bg-neutral-900 text-neutral-500 text-[10px] font-medium px-2.5 py-1 rounded drop-shadow-md">
                    {openSource.status}
                  </div>
                )}
                <a
                  href={openSource.url ? openSource.url : openSource.github_url}
                  target="_blank"
                  class="block hover:cursor-pointer w-max text-xs font-medium">
                  {openSource.code
                    ? openSource.code
                    : openSource.status === "In development"
                    ? " "
                    : "Visit website"}
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
